[submodule "submodules/lain-bootleg-bootleg-bootleg"]
	path = submodules/lain-bootleg-bootleg-bootleg
	url = https://github.com/sk-1982/lain-bootleg-bootleg-bootleg.git
[submodule "submodules/SpaceCadetPinball"]
	path = submodules/SpaceCadetPinball
	url = https://github.com/alula/SpaceCadetPinball.git
	ignore = dirty
[submodule "submodules/wasmDOOM"]
	path = submodules/wasmDOOM
	url = https://github.com/VanIseghemThomas/wasmDOOM.git
	ignore = dirty
