@import '98.css';

button.focused {
	outline: 1px dotted black;
	outline-offset: -4px;
}

button.active {
	box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a,
	inset -2px -2px #dfdfdf, inset 2px 2px gray;
	text-shadow: 1px 1px #222 !important;
}

.title-bar.inactive .title-bar-text {
	color: silver;
}

.title-bar-controls button {
	img, svg {
		margin-top: 2px;
	}
}

.status-bar {
	margin-bottom: 1px;
	gap: 2px;
}

.status-bar-field {
	box-shadow: inset -1px -1px #fff,inset 1px 1px gray;
}

*::selection {
	background: #000080;
	color: #fff;
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment,
::-webkit-scrollbar-button:horizontal:end:decrement
{
	display: none;
}
