#app {
  background: url(./assets/images/wallpaper.avif) bottom / cover;
  transform: translate3d(0,0,0);

  @media (min-width: 2000px) {
    background: url(./assets/images/wallpaper-smoothed.avif) bottom / cover;
    image-rendering: smooth;
  }
}

:root, body, #app {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: none;
  shape-rendering: crispEdges;
  font-family: "Pixelated MS Sans Serif", sans-serif;
  cursor: url(./assets/images/default.webp), default;
  user-select: none;
  font-size: 11px;
}

@keyframes clip {
  0% {
    clip-path: inset(0);
  }
  99.9% {
    clip-path: inset(0);
  }
  to {
    clip-path: none;
  }
}

h1 {
  font-size: 3.5em;
  margin: .25em 0;
}
